{% extends "requestapp/base.html" %}
{% block title %}Главная{{ block.super }}{% endblock title %}
{% block body %}
<h1>Обработка POST из формы</h1>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type='submit'>Отправить</button>
</form>


{% if request.POST %}
<h2>Отправленные данные</h2>
<p>
    <span>Имя:</span> <span>{{request.POST.name}}</span>
</p>
<p>
    <span>Возраст:</span> <span>{{request.POST.age}}</span>
</p>
<p>
    <span>О себе:</span> <span>{{request.POST.bio}}</span>
</p>
{% endif %}

{% endblock body %}