{% extends "shopapp/base.html" %}
{% block title %}Index for shopapp{% endblock title %}
{% block body %}


<form method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">Создать группу</button>
</form>

<ul>
    {% for group in groups %}
        <li>{{group.name}} <code>{{gtoup.codename}}</code>
            <div>
                {% for perm in group.permissions.all %}
                <span>{{perm}}</span>;
                {% endfor %}
            </div>
        </li>
    {% endfor %}
</ul>




{% endblock body %}