{% extends "shopapp/base.html" %}
{% block title %}Index for shopapp{% endblock title %}
{% block body %}


<p>{{temp_value}}</p>

<ul>
    {% for title, price in products %}
        <li>{{title}} for ${{price}}</li>
    {% endfor %}
</ul>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, incidunt quia atque, quidem magni cupiditate aliquam explicabo, possimus nostrum sint nesciunt ratione tempore? Expedita voluptatem quae adipisci laborum. Quisquam, repudiandae!


{% endblock body %}