{% extends "shopapp/base.html" %}
{% block title %}Товары{% endblock title %}
{% block body %}


{% if products %}
    {% for product in products %}
        <div>
            <a href="{{product.get_absolute_url}}">
                {{product.name}} - {{product.price}} - {% firstof product.discount 'без скидки' %}
            </a>
        </div>
        <hr>
    {% endfor %}
{% else %}
    Товары ещё не добавлены
{% endif %}

<div>
    <a href="{% url "shopapp:create-products" %}">Создать товар</a>
</div>


{% endblock body %}